In [43]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [44]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [45]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [61]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temp = session.query(Measurement.date, Measurement.tobs).filter(extract("month", Measurement.date) == 6)

In [63]:
#  3. Convert the June temperatures to a list.
just_june_temp = session.query(Measurement.tobs).filter(extract("month", Measurement.date) == 6).all()

In [65]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
just_june_temp_df = pd.DataFrame(just_june_temp, columns=["temperature"])

In [66]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
just_june_temp_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [68]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp = session.query(Measurement.date, Measurement.tobs).filter(extract("month", Measurement.date) == 12)

In [69]:
# 7. Convert the December temperatures to a list.
just_dec_temp = session.query(Measurement.tobs).filter(extract("month", Measurement.date) == 12).all()

In [70]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
just_dec_temp_df = pd.DataFrame(just_dec_temp, columns=["temperature"])

In [71]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
just_dec_temp_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [94]:
# Extra Query 1:
# June
june_data = session.query(Measurement.tobs, Measurement.prcp).filter(extract("month", Measurement.date) == 6).all()
june_data_df = pd.DataFrame(june_data, columns=['temperature','precipitation'])
june_data_df.describe()

       temperature  precipitation
count  1700.000000    1574.000000
mean     74.944118       0.136360
std       3.257417       0.335731
min      64.000000       0.000000
25%      73.000000       0.000000
50%      75.000000       0.020000
75%      77.000000       0.120000
max      85.000000       4.430000

In [96]:
# Extra Query 1:
# December
dec_data = session.query(Measurement.tobs, Measurement.prcp).filter(extract("month", Measurement.date) == 12).all()
dec_data_df = pd.DataFrame(dec_data, columns=['temperature','precipitation'])
dec_data_df.describe()

       temperature  precipitation
count  1517.000000    1405.000000
mean     71.041529       0.216819
std       3.745920       0.541399
min      56.000000       0.000000
25%      69.000000       0.000000
50%      71.000000       0.030000
75%      74.000000       0.150000
max      83.000000       6.420000

In [83]:
# Extra Query 2:
# June
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(extract("month", Measurement.date) == 6).all()

[(64.0, 85.0, 74.94411764705882)]

In [84]:
# Extra Query 2:
# December
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(extract("month", Measurement.date) == 12).all()

[(56.0, 83.0, 71.04152933421226)]